{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <section class="hero is-light">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Operation Groups
                    </h1>
                    <h2 class="subtitle">
                        find the groups of operations
                    </h2>
                </div>
            </div>
        </section>
        <section class="is-light operation-groups-toolbar">
            <form class="columns is-mobile is-multiline" action="" method="get">
                <div class="columns column is-multiline is-8">
                    <div class="column is-10">
                        <p class="control has-icons-left">
                            <input class="input is-medium" placeholder="Search" name="search"
                                   value="{{ search }}">
                            <span class="icon is-small is-left">
                                      <i class="fas fa-search"></i>
                                    </span>
                        </p>
                    </div>
                    <div class="column">
                        <button class="button is-medium is-primary is-fullwidth" type="submit">
                                    <span class="icon is-small">
                                      <i class="fas fa-search"></i>
                                    </span>
                        </button>
                    </div>
                </div>
                <div class="columns column is-multiline is-8">
                    <div class="column">
                        <div class="select is-primary is-medium">
                            <select id="js-customer-choice" name="customer">
                                <option value="">Customer</option>
                                {% for customer in customers %}
                                    <option value="{{ customer.id }}"
                                            {% if selectedCustomer is not null and selectedCustomer.id == customer.id %}selected{% endif %}>
                                        {{ customer.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <div class="select is-primary is-medium">
                            <select id="js-cleaner-choice" name="cleaner">
                                <option value="">Cleaner</option>
                                {% for cleaner in cleaners %}
                                    <option value="{{ cleaner.id }}"
                                            {% if selectedCleaner is not null and selectedCleaner.id == cleaner.id %}selected{% endif %}>
                                        Cleaner #{{ cleaner.id }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <div class="select is-primary is-medium">
                            <select id="js-day-choice" name="day">
                                <option value="">Day of the week</option>
                                <option value="Monday"
                                        {% if selectedDay is not null and selectedDay == "Monday" %}selected{% endif %}>
                                    Monday
                                </option>
                                <option value="Tuesday"
                                        {% if selectedDay is not null and selectedDay == "Tuesday" %}selected{% endif %}>
                                    Tuesday
                                </option>
                                <option value="Wednesday"
                                        {% if selectedDay is not null and selectedDay == "Wednesday" %}selected{% endif %}>
                                    Wednesday
                                </option>
                                <option value="Thursday"
                                        {% if selectedDay is not null and selectedDay == "Thursday" %}selected{% endif %}>
                                    Thursday
                                </option>
                                <option value="Friday"
                                        {% if selectedDay is not null and selectedDay == "Friday" %}selected{% endif %}>
                                    Friday
                                </option>
                                <option value="Saturday"
                                        {% if selectedDay is not null and selectedDay == "Saturday" %}selected{% endif %}>
                                    Saturday
                                </option>
                                <option value="Sunday"
                                        {% if selectedDay is not null and selectedDay == "Sunday" %}selected{% endif %}>
                                    Sunday
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="column columns is-mobile">
                        <div class="column">
                            <div>
                                <button class="button is-medium is-primary" type="submit">
                                <span class="icon is-small">
                                  <i class="fas fa-search"></i>
                                </span>
                                </button>
                            </div>
                        </div>
                        <div class="column">
                            <div>
                                <a href="{{ path('operation_groups') }}" class="button is-medium is-danger is-outlined">
                                <span class="icon is-small">
                                  <i class="fas fa-undo"></i>
                                </span>
                                </a>
                            </div>
                        </div>
                        <div class="column">
                            <div>
                                <a href="{{ path('operation_create') }}" class="button is-medium is-primary">
                                <span class="icon is-small">
                                  <i class="fas fa-plus"></i>
                                </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section class="container tiles-container">
            {% if search is not defined or search is null or search == "" %}
                <span class="title">Total groups {{ nbOperationGroups }}</span>
                <div class="tile is-ancestor columns is-multiline">
                    {% for day, cleaners in operationGroups %}
                        {% for cleaner, customers in cleaners %}
                            {% for customer, operations in customers %}
                                <div class="column is-3">
                                    <a href="{{ path('operation_group', {"cleaner": cleaner, "day": day, "customer": operations['id']}) }}">
                                        <div class="tile is-parent">
                                            <article class="tile is-child notification is-primary">
                                                <p class="subtitle">{{ customer ~ " - Cleaner#" ~ cleaner ~ " - " ~ day }}</p>
                                                <p>{{ operations|length - 1 }} Operation(s)</p>
                                            </article>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% else %}
                {% for day, cleaners in operationGroups %}
                    {% for cleaner, customers in cleaners %}
                        {% for customer, operations in customers %}
                            <span class="title">{{ customer ~ " - Cleaner#" ~ cleaner ~ " - " ~ day }}</span>
                            <table class="table is-fullwidth is-hoverable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Place</th>
                                    <th>Name</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if operations | length > 1 %}
                                    {% for key, operation in operations %}
                                        {% if key matches '/^\\d+$/' %}
                                            <tr>
                                                <th>JOB - {{ operation.id }}</th>
                                                <td>{{ operation.place.name }}</td>
                                                <td>{{ operation.name }}</td>
                                                <td>
                                                    <a class="button is-primary" href="
                                                            {{ path('operation_edit', {"id": operation.id}) }}
                                                            ">
                                                        <i class="fa fa-pen"></i>
                                                    </a>
                                                    <a class="button is-danger"
                                                       href="{{ path('operation_delete', {'id': operation.id}) }}">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                    <a class="button is-danger"
                                                       href="{{ path('operation_history_create', {'id': operation.id}) }}">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                {#                {% for operation in operations %}#}
                {#                    <span class="title">{{ operation.customer ~ " - " ~ operation.cleaner ~ " - " ~ operation.day }}</span>#}
                {#                    <table class="table is-fullwidth is-hoverable">#}
                {#                        <thead>#}
                {#                        <tr>#}
                {#                            <th>ID</th>#}
                {#                            <th>Place</th>#}
                {#                            <th>Name</th>#}
                {#                            <th>Actions</th>#}
                {#                        </tr>#}
                {#                        </thead>#}
                {#                        <tbody>#}
                {#                        <th>JOB - {{ operation.id }}</th>#}
                {#                        <td>{{ operation.place.name }}</td>#}
                {#                        <td>{{ operation.name }}</td>#}
                {#                        <td>#}
                {#                            <a class="button is-primary" href="#}
                {#                            {{ path('operation_edit', {"id": operation.id}) }}#}
                {#                            ">#}
                {#                                <i class="fa fa-pen"></i>#}
                {#                            </a>#}
                {#                            <a class="button is-danger" href="{{ path('operation_delete', {'id': operation.id}) }}">#}
                {#                                <i class="fa fa-trash"></i>#}
                {#                            </a>#}
                {#                        </td>#}
                {#                        </tbody>#}
                {#                    </table>#}
                {#                {% endfor %}#}
            {% endif %}
        </section>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .operation-groups-toolbar {
            margin: 2em 3em;
        }
    </style>
{% endblock %}