{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <section class="hero is-light">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Add
                    </h1>
                    <h2 class="subtitle">
                        a new operationHistory
                    </h2>
                </div>
            </div>
        </section>
        <section class="container">
            {{ form_start(form) }}
            <div class="form-element">
                <div class="subtitle form-label">
                    Beginning Date
                </div>
                <div class="container is-light">
                    <input class="is-medium input is-primary" name="beginningDate"
                           type="datetime-local"
                           value="{{ now.format("Y-m-d\\TH:i") }}"
                    />
                </div>
            </div>
            <div class="form-element">
                <div class="subtitle form-label">
                    Ending Date
                </div>
                <div class="container is-light">
                    <input class="is-medium input is-primary" name="endingDate"
                           type="datetime-local"
                           value="{{ now.format("Y-m-d\\TH:i") }}"
                    />
                </div>
            </div>
            <div class="form-element">
                <div class="subtitle form-label">
                    {{ form_label(form.operation) }}
                </div>
                <div class="container is-light">
                    <div class="select is-medium is-primary">
                        {{ form_widget(form.operation) }}
                    </div>
                </div>
            </div>
            <div class="form-element">
                <div class="subtitle form-label">
                    Mail
                </div>
                <div class="container is-light">
                    <div class="checkbox is-medium is-primary">
                        {{ form_widget(form.mail) }}
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
            <div class="form-element">
                <button class="button is-primary is-medium" type="submit">Create operationHistory</button>
            </div>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .form-element {
            padding-top: 2.5em;
        }

        .form-element > button {
            width: 100%;
        }

        div.form-label {
            margin-bottom: 0.5em;
        }

        .container {
            padding-bottom: 2em;
        }
    </style>
{% endblock %}