{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <section class="hero is-light">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Operations History
                    </h1>
                    <h2 class="subtitle">
                        cleaners operations
                    </h2>
                </div>
            </div>
        </section>
        <section class="is-light operation-history-toolbar">
            <form class="columns is-mobile is-multiline" action=""
                  method="get">
                <div class="column">
                    <input class="is-medium input is-primary" name="firstDate"
                           type="date"
                           value="{{ firstDate.format("Y-m-d") }}"/>
                </div>
                <div class="column">
                    <input class="is-medium input is-primary" name="secondDate"
                           type="date"
                           value="{{ secondDate.format("Y-m-d") }}"/>
                </div>
                <div class="column">
                    <div class="select is-primary is-medium">
                        <select id="js-customer-choice" name="customer">
                            <option value="">Select a customer</option>
                            {% for customer in customers %}
                                <option id="{{ 'js-cleaner' ~ customer.id }}"
                                        value="{{ customer.id }}"
                                        {% if selectedCustomer is not null and selectedCustomer.id == customer.id %}selected{% endif %}>
                                    {{ customer.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="column">
                    <div class="select is-primary is-medium">
                        <select id="js-template-choice" name="template">
                            <option value="">Select a Template</option>
                            {% for template in templates %}
                                <option id="{{ 'js-template' ~ template.id }}"
                                        value="{{ template.id }}"
                                        {% if selectedTemplate is not null and selectedTemplate.id == template.id %}selected{% endif %}>
                                    {{ "#" ~ template.id ~ " - " ~ template.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="column columns is-mobile">
                    <div class="column">
                        <div>
                            <button class="button is-medium is-primary"
                                    type="submit">
                                <span class="icon is-small">
                                  <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <a href="{{ path('operationhistorypage') }}"
                               class="button is-medium is-danger is-outlined">
                                <span class="icon is-small">
                                  <i class="fas fa-undo"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            {% if selectedCustomer is not null %}
                                {% set customer = selectedCustomer.id %}
                            {% else %}
                                {% set customer = null %}
                            {% endif %}
                            <a href="{{ path('operationhistorypage', {'firstDate': firstDate.format("Y-m-d"), 'secondDate': secondDate.format("Y-m-d"), 'customer': customer, 'file': true}) }}"
                               class="button is-medium is-primary"
                               target="_blank">
                                <span class="icon is-small">
                                  <i class="fas fa-download"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            {% if selectedCustomer is not null %}
                                {% set customer = selectedCustomer.id %}
                            {% else %}
                                {% set customer = null %}
                            {% endif %}
                            <a target="_blank"
                               href="{{ path('operationhistories_pdf_generate', {'firstDate': firstDate.format("Y-m-d"), 'secondDate': secondDate.format("Y-m-d"), 'customer': customer, 'file': true}) }}"
                               class="button is-medium is-primary">
                                <span class="icon is-small">
                                  <i class="fas fa-file-pdf"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    {% if selectedCustomer is not null %}
                        {% set customer = selectedCustomer.id %}
                        <div class="column">
                            <div>
                                <a target="_blank"
                                   href="{{ path('month_resume_send', {'firstDate': firstDate.format("Y-m-d"), 'secondDate': secondDate.format("Y-m-d"), 'customer': customer, 'file': true}) }}"
                                   class="button is-medium is-primary">
                                <span class="icon is-small">
                                  <i class="fas fa-envelope"></i>
                                </span>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </form>
        </section>
        <section class="container">
            <nav class="level container-history">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Places</p>
                        <p class="title">{{ numberOfPlaces }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Cleaners</p>
                        <p class="title">{{ numberOfCleaners }}</p>
                    </div>
                </div>
            </nav>
        </section>
        {#<section class="container stats-container">#}
        {#<div class="columns is-centered is-multiline is-mobile container-history">#}
        {#<h1 class="column has-text-centered title is-full is-info">PLANNED OPERATIONS</h1>#}
        {#<span class="column is-half has-text-centered center-chart">#}
        {#{% include ":home/operationHistory:chart.html.twig" with {#}
        {#'percentage': (numberOfDone * 100 / (numberOfOperations + 1))|number_format(0, '.', ','),#}
        {#'title': "Completed operations",#}
        {#'subtitle': numberOfDone ~ "/" ~ numberOfOperations,#}
        {#'color': 'green'#}
        {#} %}#}
        {#</span>#}
        {#<div class="column is-half has-text-centered center-chart">#}
        {#{% include ":home/operationHistory:chart.html.twig" with {#}
        {#'percentage': (numberOfNotDone * 100 / (numberOfOperations + 1))|number_format(0, '.', ','),#}
        {#'title': "Operations overdue",#}
        {#'subtitle': numberOfNotDone ~ "/" ~ numberOfOperations,#}
        {#"color": 'red'#}
        {#} %}#}
        {#</div>#}
        {#</div>#}
        {#</section>#}
        <section class="container operations-container">
            <div class="columns is-multiline is-mobile is-centered">
                {% include ':home/operationHistory/month-resume:content.html.twig' %}
            </div>
        </section>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .month-view {
            overflow-x: scroll;
        }

        .operation-history-toolbar {
            margin: 2em 3em;
        }

        .white {
            color: white !important;
            margin: 0.3em 0.3em;
            text-align: right;
        }

        .operation-histories-container {
            margin: 0.3em;
            background: #75d0b2;
        }

        .jobId {
            color: grey !important;
            margin-left: 3em;
        }

        .planned {
            color: deepskyblue !important;
        }

        .notdone {
            color: red !important;
        }

        .done {
            color: green !important;
        }

        .operations-container {
            margin-top: 3em !important;
        }

        .stats-container {
            margin-bottom: 1em;
        }

        .container-history {
            margin: 3em;
            -webkit-border-radius: 1em;
            -moz-border-radius: 1em;
            border-radius: 1em;
        }

        .center-chart {
            margin: auto;
            /*left: 0;*/
            /*right: 0;*/
        }

        @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

        .circular-chart {
            display: block;
            max-width: 100%;
            max-height: 100%;
        }

        .grey {
            stroke: #363636;
            fill: none;
            stroke-width: 2.8;
            stroke-linecap: round;
        }

        .circle {
            fill: none;
            stroke-width: 2.9;
            stroke-linecap: round;
            animation: progress 1s ease-out forwards;
        }

        .red {
            stroke: #e92b33;
        }

        .green {
            stroke: #75d0b2;
        }

        @keyframes progress {
            0% {
                stroke-dasharray: 0 100;
            }
        }

        svg {
            width: 200px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}