{% extends 'base.html.twig' %}

{% block body %}
    <div class="column columns is-mobile">
        <div class="column is-2">
            <div>
                <a href="{{ path('operationhistory_view', {id: id, delete: true}) }}">
                    <button class="button is-medium is-danger">
                        <span class="icon is-small">
                          <i class="fas fa-trash"></i>
                        </span>
                    </button>
                </a>
                <a href="{{ path('operation_history_edit', {id: id}) }}">
                    <button class="button is-medium is-danger">
                        <span class="icon is-small">
                          <i class="fas fa-pen"></i>
                        </span>
                    </button>
                </a>
            </div>
        </div>
        <div class="column is-10">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Cleaner</th>
                    <th>Initial date</th>
                    <th>Last time mail sent</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>{{ id }}</th>
                    <th>{{ oh.name }}</th>
                    <th>{{ oh.cleaner.id }}</th>
                    <th>{{ initialDate }}</th>
                    <th>{{ lastTimeSent }}</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div id="toRenderInPdf">
        {% include ':home/operationHistory/job-report:content.html.twig' %}
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        img {
            height: 32% !important;
        }
    </style>
{% endblock %}