<div class="form-element">
    <div class="subtitle form-label">
        {{ form_label(form.name) }}
    </div>
    <div class="">
        {{
        form_widget(form.name, {
            'attr': {
                'class': 'input'
            }
        })
        }}
    </div>
</div>
<div class="form-element">
    <div class="subtitle form-label">
        {{ form_label(form.comment) }}
    </div>
    <div class="">
        {{
        form_widget(form.comment, {
            'attr': {
                'class': 'input'
            }
        })
        }}
    </div>
</div>
<div class="form-element">
    <div class="subtitle form-label">
        {{ form_label(form.tasks) }}
    </div>
    <div class="container is-light">
        <div class="">
            {{
            form_widget(form.tasks)
            }}
        </div>
    </div>
</div>