{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <section class="hero is-light">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        OperationTemplates
                    </h1>
                    <h2 class="subtitle">
                        Personalize your operationTemplates.
                    </h2>
                </div>
            </div>
        </section>
        <section class="is-light operationTemplate-toolbar">
            <div class="columns">
                <div class="column">
                    <a class="button is-link is-warning" href="{{ path('parameters_create_operationTemplate_page') }}">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <form class="column columns is-6" action="" method="get">
                    <div class="column is-6">
                        <p class="control has-icons-left">
                            <input class="input" operationTemplateholder="Search" name="search" value="{{ search }}">
                            <span class="icon is-small is-left">
                              <i class="fas fa-search"></i>
                            </span>
                        </p>
                    </div>
                    <div class="column is-3">
                        <button class="button is-warning" type="submit">Search</button>
                    </div>
                </form>
                <div class="column is-full">
                </div>
            </div>
        </section>
        <section class="container">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Place</th>
                    <th>Comment</th>
                    <th>Actions</th>
                </tr>
                </thead>
                {% for operationTemplate in operationTemplates %}
                    <tbody>
                    <tr>
                        <th>{{ operationTemplate.id }}</th>
                        <td>{{ operationTemplate.place }}</td>
                        <td>{{ operationTemplate.comment }}</td>
                        <td>
                            <a class="button is-link is-warning" href="
                            {{ path('parameters_edit_operationTemplate_page', {'id': operationTemplate.id}) }}">
                                <i class="fa fa-pen"></i>
                            </a>
                            <a class="button is-link is-warning" href="
                            {{ path('parameters_delete_operationTemplate_page', {'id': operationTemplate.id}) }}
                            ">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </section>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .operationTemplate-toolbar {
            margin: 2em 3em;
        }
    </style>
{% endblock %}