{% for month in planning %}
    <div class="column is-full hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{ month.date.format('F Y') }}
                </h1>
            </div>
        </div>
    </div>
    <table class="table-month-resume column is-full table is-hoverable is-fullwidth is-bordered month-view">
        <thead class="">
        <tr class="is-primary is-selected">
            {% for key, table in month.content['columns'] %}
                {% if key is same as("customer") or key is same as("place") or key is same as("lat") or key is same as("lon") or key is same as("TOTAL") %}
                    <th>{{ key }}</th>
                {% else %}
                    <th>{{ "%02d"|format(key) }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody class="">
        {% for lineName, line in month.content %}
            {% if lineName != "columns" %}
                <tr>
                    {% for key, cell in line %}
                        {% if lineName == "TOTALS" and cell > 0 and key == "TOTAL" %}
                            <td nowrap="nowrap" class="total-atm-global">
                        {% elseif lineName == "TOTALS" and cell > 0 %}
                            <td nowrap="nowrap" class="total-atm-day">
                        {% elseif key == "TOTAL" %}
                            <td nowrap="nowrap" class="total-atm">
                        {% else %}
                            <td nowrap="nowrap">
                        {% endif %}
                        {% if cell is null %}
                            &nbsp;
                        {% else %}
                            {% set link = cell is iterable %}
                            {% if link %}
                                {% for key, elem in cell %}
                                    {% if pdf is defined and pdf == true %}
                                        {{ elem.endingDate.format('H:i') }}
                                    {% else %}
                                        <a href="{{ path('operationhistory_view', {'id': elem.id}) }}">
                                            {{ elem.endingDate.format('H:i') }}
                                        </a>
                                    {% endif %}
                                    {% if key != (cell|length - 1) %}
                                        {{ "/" }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {{ cell }}
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endfor %}
<style>
    .table-month-resume {
        width: 100vw;
    }

    .total-atm-day {
        background-color: red;
        color: white;
    }

    .total-atm-global {
        color: white;
        background-color: forestgreen;
    }

    .total-atm {
        color: white;
        background-color: orange;
    }

    th {
        white-space: nowrap;
    {% if color is defined and color is not null %} background: {{ color }} !important;
    {% endif %} {% if pdf is defined and pdf == true %} font-size: 0.8em !important;
    {% endif %}
    }

    td {
    {% if pdf is defined and pdf == true %} font-size: 0.8em !important;
    {% endif %}
    }

</style>