{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <section class="hero is-light">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Planning
                    </h1>
                    <h2 class="subtitle">
                        cleaner plannings
                    </h2>
                </div>
            </div>
        </section>
        <section class="container container-planning">
            <div class="columns is-multiline is-mobile">
                <div class="column is-4">
                    <form action="" method="get">
                        <div class="columns is-multiline is-mobile is-1">
                            <input type="number" name="customer" style="display: none" value="{{ customerId }}">
                            <div class="column is-10">
                                <p class="control has-icons-left">
                                    <input class="input is-medium" placeholder="Search" name="search"
                                           value="{{ search }}">
                                    <span class="icon is-small is-left">
                                      <i class="fas fa-search"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="column is-2">
                                <button class="button is-medium is-primary is-fullwidth" type="submit">
                                    <span class="icon is-small">
                                      <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="column is-full"></div>
                        </div>
                    </form>
                    <nav class="panel">
                        <p class="panel-heading">
                            Places
                        </p>
                        <p class="panel-tabs" style="padding-bottom: 1em">
                            <a
                                    href="{{ path('planningpage', {'search': search}) }}"
                                    {% if customerId is null or customerId == "" %}class="is-active"{% endif %}
                            >
                                all
                            </a>
                            {% for customer in customers %}
                                <a
                                        href="{{ path('planningpage', {'search': search, 'customer': customer.id}) }}"
                                        {% if customer.id == customerId %}class="is-active"{% endif %}
                                >
                                    {{ customer.name }}
                                </a>
                            {% endfor %}
                        </p>
                        <p class="places-list">
                        {% for place in places %}
                            <a class="panel-block js-place-choice" data-id="{{ place.id }}" data-name="{{ place.name }}"
                               data-customer-name="{{ place.customer.name }}">
                                <span class="panel-icon"><i class="fas fa-map-marker" aria-hidden="true"></i></span>
                                {{ place.customer.name ~ " - " ~ place.name }}
                            </a>
                        {% endfor %}
                        </p>
                        <div class="panel-block">
                            <a href="{{ path('planningpage') }}"
                               class="button is-fullwidth is-medium is-danger is-outlined">
                                <span>Reset filters</span>
                                <span class="icon is-small">
                                  <i class="fas fa-undo"></i>
                                </span>
                            </a>
                        </div>
                    </nav>
                </div>
                <div class="column is-8">
                    <div class="select is-primary is-medium is-fullwidth">
                        <select id="js-cleaner-choice">
                            <option value="">Select a cleaner</option>
                            {% for cleaner in cleaners %}
                                <option id="{{ 'js-cleaner' ~ cleaner.id }}"
                                        value="{{ cleaner.id }}">{{ "Cleaner #" ~cleaner.id }}</option>s
                            {% endfor %}
                        </select>
                    </div>
                    <div class="column is-full">
                        <table class="table is-hoverable is-fullwidth">
                            <thead>
                            <tr class="is-primary is-selected">
                                <th>Monday</th>
                                <th>Tueday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                                <th>Saturday</th>
                                <th>Sunday</th>
                            </tr>
                            </thead>
                            <tbody class="js-cleaner-planning-table-body snip1226 ">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal">
            <div class="js-modal-close modal-background"></div>
            <div class="modal-card">
                {{ form_start(form, {
                    'attr': {
                        'id': 'js-operation-form',
                        'action': "/api/operations",
                        'data-api-token': userToken
                    }
                }) }}
                <header class="modal-card-head">
                    <p class="modal-card-title">Add a new Operation to a cleaner</p>
                    <span class="delete js-modal-close" aria-label="close"></span>
                </header>
                <section class="modal-card-body js-modal-card-body">
                    {% include(':home/planning/operation:form.html.twig') %}
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success js-modal-add-operation">Add operation</button>
                    <span class="button js-modal-close">Cancel</span>
                </footer>
                {{ form_end(form) }}
            </div>
            <button class="modal-close js-modal-close is-large" type="submit" aria-label="close"></button>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

        .places-list {
            overflow-y: scroll;
            height: 500px;
        }

        .cleaner-planning {
            background: #f9f9f9 !important;
        }

        .select {
            margin-bottom: 0.5em;
        }

        .container-planning {
            padding-top: 2em
        }

        td {
            font-weight: bold;
        }

        .snip1226 {
            text-align: center;
        }

        .snip1226 * {
            box-sizing: border-box;
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
        }

        .snip1226 td {
            list-style: outside none none;
            margin: 0 1.5em;
            overflow: hidden;
        }

        .snip1226 a {
            padding: 0.3em 0;
            color: rgba(0, 0, 0, 0.8);
            position: relative;
            display: inline-block;
            letter-spacing: 1px;
            margin: 0;
            text-decoration: none;
        }

        .snip1226 a:before,
        .snip1226 a:after {
            position: absolute;
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
        }

        .snip1226 a:after {
            padding: 0.3em 0;
            position: absolute;
            bottom: 100%;
            left: 0;
            content: attr(data-hover);
            color: red;
            white-space: nowrap;
        }

        .snip1226 td:hover a,
        .snip1226 .current a {
            transform: translateY(100%);
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/planning/index.js') }}"></script>
{% endblock %}