<div class="form-element">
    <div class="subtitle form-label">
        {{ form_label(form.customer) }}
    </div>
    <div class="select is-warning is-fullwidth">
        {{
        form_widget(form.customer)
        }}
    </div>
</div>
<div class="form-element">
    <div class="subtitle form-label">
        {{ form_label(form.name) }}
    </div>
    <div class="">
        {{
        form_widget(form.name, {
            'attr': {
                'class': 'input'
            }
        })
        }}
    </div>
</div>
<div class="form-element">
    <div class="subtitle form-label">
        {{ form_label(form.geoCoords) }}
    </div>
    <div class="">
        {{
            form_widget(form.geoCoords, {})
        }}
    </div>
</div>